extends layout
block content
    <nav class="navbar navbar-default">
    <div class="container">
    <div class="navbar-header navbar-right-border">
    <a href="/" class="navbar-brand">QuantumBox HUB</a>
    </div>
    <div>
    <ul class="nav navbar-nav">
    <li class="btn1 active"><a href="/">Home</a></li>
    <li class="btn1"><a href="/lan-scan">Scan for new devices</a></li>
    <li class="btn1"><a href="/manager">Entanglement manager</a></li>
    <li class="btn1"><a href="/libs">Libraries manager</a></li>
    <li class="btn1"><a href="/interfaces">Interfaces manager</a></li>
    </ul>
    </div>
    </div>
    </nav>
    <div class="container">
    <div class="jumbotron">
    <h2>Welcome on index of QuantumBox control panel!</h2>
    </div>
    div
        div.panel.panel-default
            div.panel-heading= "Active Devices"
            if devices && devices.length > 0
                div.table
                    table.table.table-striped
                        tr
                            td= 'Name'
                            td= 'MAC'
                            td= 'IP'
                            td= 'Model'
                            td
                        each device in devices
                            tr
                                td= device.dev_name
                                td= device.dev_mac
                                td= device.dev_address
                                td= device.dev_uid
                                td
                                    a.btn.btn-primary(href="/edit-device/" + device.dev_id)= 'Edit'
                                    a.btn.btn-danger(href="/delete-device/" + device.dev_id)= 'Delete'
            else
                div.no-devices
                    h3= 'No devices'
        if devices && devices.length>0
            div.panel.panel-default
                div.panel-heading= "Actions"
                div.device-box
                    each device in devices
                        if device.actions.length>0
                            div.device-box_item
                                if device.dev_name
                                    h3
                                        a(href="/edit-device/"+device.dev_id)= device.dev_name
                                else
                                    h3
                                        a(href="/edit-device/"+device.dev_id)= device.dev_vendor + " Device"
                                each action in device.actions
                                    a.device-action(href="/execute?dev_id=" + device.dev_id + "&act_id=" + action.function_id)= action.function_name
    </div>
