extends layout
block content
    <body>
    <nav class="navbar navbar-default">
    <div class="container">
    <div class="navbar-header navbar-right-border">
    <a href="/" class="navbar-brand">QuantumBox HUB</a>
    </div>
    <div>
    <ul class="nav navbar-nav">
    <li class="btn1"><a href="/">Home</a></li>
    <li class="btn1"><a href="/lan-scan">Scan for new devices</a></li>
    <li class="btn1"><a href="/manager">Entanglement manager</a></li>
    <li class="btn1"><a href="/libs">Libraries manager</a></li>
    <li class="btn1 active"><a href="/interfaces">Interfaces manager</a></li>
    </ul>
    </div>
    </div>
    </nav>
    <div class="container">
    <div class="jumbotron">
    <h2>This is interfaces manager</h2>
    <p>Here you can see all installed communication interfaces</p>
    </div>
    </div>
    <div class="container">
    <div class="panel panel-default">
    <div class="table">
    if interfaces && interfaces.length>0
        table.table.table-striped
            tr
                td= 'Name'
                td= 'Functions'
                td= 'Active?'
            each interface in interfaces
                tr
                    td= interface.interface_name
                    td
                        if interface.interface_functions && interface.interface_functions.length>0
                            each func, i in interface.interface_functions
                                if i > 0
                                    br
                                =func
                        else
                            ='No data'
                    td= interface.interface_is_active
    else
        div.no-devices
            h3= 'No interfaces'
    </div>
    </div>
    </div>
