extends layout
block content
    <nav class="navbar navbar-default">
    <div class="container">
    <div class="navbar-header navbar-right-border">
    <a href="/" class="navbar-brand">QuantumBox HUB</a>
    </div>
    <div>
    <ul class="nav navbar-nav">
    <li class="btn1"><a href="/">Home</a></li>
    <li class="btn1"><a href="/lan-scan">Scan for new devices</a></li>
    <li class="btn1 active"><a href="/manager">Entanglement manager</a></li>
    <li class="btn1"><a href="/libs">Libraries manager</a></li>
    <li class="btn1"><a href="/interfaces">Interfaces manager</a></li>
    </ul>
    </div>
    </div>
    </nav>
    <div class="container">
    <div class="jumbotron">
    <h2>This is your IoT network relationships manager</h2>
    <p>Click "Add" to create new rule</p>
    </div>
    </div>
    <div class="container">
    <div class="panel panel-default">
    <div class="panel-heading"><button type="button" class="btn btn-success">Add rule</button></div>
    <div class="table">
    if rules && rules.length>0
        table.table.table-striped
            tr
                td= 'Name'
                td= 'Trigger device'
                td= 'Trigger event'
                td= 'Trigger condition'
                td= 'Executing device'
                td= 'Action'
                td= 'Details'
                td= 'Is Active?'
            each rule in rules
                tr
                    td= rule.name
                    td= rule.trigger.device
                    td= rule.trigger.action
                    td= rule.trigger.details
                    td= rule.executor.device
                    td= rule.executor.action
                    td= rule.executor.details
                    td= rule.active
    else
        div.no-devices
            h3= 'No rules'
    </div>
    </div>
    </div>